    <div class="text right-div">
        <div>
        <a href=""><img style="float:right;padding-right: 40px;" src="/static/logo1.png"></a>
        </div>
        <div class="userBanner">
             Welcome <span style="font-weight:bold; padding:5px" >  <%= locals.user ? user : "User" %> </span>
             <a href="/route/logout">Logout</a>
        </div>
    </div>