
<%- include('header') -%>

<div class="text-center center-div" id="login">
    <p class="alignCenter">
         <a href=""><img src="/static/XTRAC.png"></a>
     </p>

    <div class="container w-25 border login">
            <h2 class="font-weight-bold">Login</h2>
            <span><%= locals.errorMsg%> </span>
        <form action="/route/login" method="POST" class="pt-3">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="User Name" name="username">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" name="password" placeholder="Password">
            </div>
            <button type="submit" class="btn">Submit</button>
        </form>
    </div>
</div>


<%- include('footer') -%>