<%- include('header') -%>
<%- include('banner') -%>

<div class="text-center mt-3">

    <div id="title"><h3> Vehicle details </h3></div>

    <div id="container" class="container py-5" id="dealers">
       <button class="btn" onclick="history.back()">Back</button>
    </div>
</div>

<%- include('footer') -%>