@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body{
    font-family: 'Open Sans', sans-serif;
    background-repeat: no-repeat;
    background-color: #253a47;
    color: #ffffff;
}

.center-div{
    padding-top: 5%;
}

.login{
    padding: 2rem!important;
    border-radius: 20px;
}

.btn{
    padding: .4em 2em;
    background-color: #ff9900;
    border-radius: 1rem!important;
}

.btn.btn-success{
    padding: .4em 2em;
    background-color: green;
}

form{
    padding: 0 3em;
}

#login .title > span{
    font-size: .8em;
}

.header{
    background-color: aliceblue;
}

td a:visited {
    color:ghostwhite;
}

td {
    color: aliceblue;
  }

.heading {
    background-color: lightslategrey;
}

.userBanner {
    padding-top: 80px;
    text-align: right;
    padding-right: 40px;
}

.alignCenter {
    text-align: center;
}

.welcomeSpan{
    font-weight:bold;
    padding:5px
}

.homeBtn{
    font-weight:bold;
    border-radius:20px
}


.tablebtn{
    background-color: transparent;
    color: aliceblue;
    border: none;
}